.spinner{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  text-align: center;
  background-color: rgb(0, 0, 0);
  
}
.spinnerclass{
  position: fixed;
  width: 100%;
  left: 50%;
  right: 0;
  top: 50%;
  bottom: 0;
  
}